@import java.time.LocalDateTime
@import zugen.core.document.DomainObjectTableDocument
@(domainObjectDoc: DomainObjectTableDocument, generatedAt: LocalDateTime)
@views.html.Layout("Domain objects", generatedAt) {
  <div id="domain-object-table" class="container">
    <h1 class="page-title">Domain objects</h1>
    <table>
      <thead>
      <tr>
        <th>package</th>
        <th>name</th>
        <th>scaladoc</th>
        <th>file name</th>
      </tr>
      </thead>
      <tbody>
      @for(row <- domainObjectDoc.rows) {
      <tr>
        <td>@row.pkg</td>
        <td>@row.name</td>
        <td>@row.scaladoc</td>
        @row.fileUrl match {
          case Some(url) => {<td><a href="@url" target="_blank">@row.fileName</a></td>}
          case None      => {<td>@row.fileName</td>}
        }
      </tr>
      }
      </tbody>
    </table>
  </div>
}()
