@import views.html.main
@import views.txt.domainobject.ObjectRefs
@import tool.document.Document.DomainRelationDiagramDoc.Digraph

@(digraph: Digraph)
@main("Object references") {
  <div id="graph" style="text-align: center;"></div>
} {
  <script src="http://d3js.org/d3.v4.min.js"></script>
  <script src="http://unpkg.com/viz.js@@1.8.1/viz.js" type="javascript/worker"></script>
  <script src="http://unpkg.com/d3-graphviz@@2.6.1/build/d3-graphviz.js"></script>
  <script>
    d3.select("#graph").graphviz()
      .fade(false)
      .renderDot(`@{Html(ObjectRefs(digraph).toString)}`);
  </script>
}
